:root {

    line-height: 1.5;
    --navbar-height: 46px;
    --controls-color: #868686;
    --controlsPanelGap: 22px;
    --borderColor: #E1E1E1;
    --productItemWidth: 182px;
    --productItemHeight: 232px;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --body-color: black;
    --bg-body:  #FFFFFF;
    --productImageBorder: #D7D7D7;
}

@media screen and (max-width: 500px) {
    :root {
        --productItemWidth: 172px;
    }
}

[data-theme="dark"]{
    --bg-body: #1E1E1E;
    --color-body: white;
    --borderColor: #444;
    --productImageBorder: #0B0B0B;
}