:root {

    line-height: 1.5;
    --navbar-height: 46px;
    --controls-color: #868686;
    --controlsPanelGap: 22px;
    --borderColor: #E1E1E1;
    --darkTheme: #1E1E1E;
    --lightTheme: white;
    --productItemWidth: 182px;
    --productItemHeight: 232px;
    --borderColorDarkTheme: #444; 
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --smallDeviceWidth: 767px;
}

@media screen and (max-width: 500px) {
    :root {
        --productItemWidth: 172px;
    }
}