.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    z-index: 100;
    border-bottom: 1px solid var(--borderColor);
}

.Navbar {
    display: flex;
    max-width: var(--maxWidth);
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 100;
    width: 100%;
    backdrop-filter: blur(20px);
}

.Logo,
.LogoDark {
    color: #444444;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.LogoDark {
    color: white;
}

.ThemeButton {
    outline: none;
    display: flex;
    width: 59px;
    height: 28px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;

    &:active,
    &:hover {
        outline: none;
        border: none;
        margin: 0;
        user-select: none;
    }

    &:active {
        transform: scaleX(1.05);
    }
}