.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--borderColor);
    align-items: center;
    height: 100%;
    z-index: 100;
    width: 100%;
    backdrop-filter:blur(20px);
    // background: var(--bg-body);
}

.Logo,
.LogoDark {
    color: #444;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.LogoDark {
    color:white;
}

.ThemeButton {
    background: transparent;
    outline: none;
    padding: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img, img:hover, img:active, img:focus {
        height: 28px;
        width:59px;
        user-select: none;
        overflow: hidden;
        border-radius: 15px;
    }
    &:active,
    &:hover {
        outline: none;
        border: none;
        margin: 0;
        background: transparent;
    }

    &:active {
        transform: scaleX(1.05);
    }
}
 